<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="/static/style.css">
		<title>Menu</title>
	</head>
	<body>
		<header>
	            <div id="errorPopup" class="popup">
	                <div class="popup-content">
	                    <p id="errorMessage"></p>
	                </div>
	            </div>
	        </header>

		<main>
			<ul class="marginAuto">
	            <li><a href="/reservation">Menu Réservations</a></li>
	            <li><a href="/salles">Menu Salles</a></li>
	            <li><a href="/trucs1">Trucs 1</a></li>
	            <li><a href="/trucs2">Trucs 2</a></li>
	            <li><a href="/trucs3">Trucs 3</a></li>
	            <li><a href="/trucs4">Trucs 4</a></li>
	        </ul>
		</main>

		<footer></footer>

	</body>
</html>